.titulo {
  width: 804px;
  height: 227px;
}

.historia {
  width: 786px;
  height: 127px;
}

.escuchar {
  width: 948px;
  height: 277px;
}

h1 {
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  font-size: 90px;
  font-weight: 300;
}
