.header {
  width: 1920px;
  height: 300px;
  background-image: url(../images/bg-header-contacto.png);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input {
  margin-bottom: 50px;
  width: 500px;
  height: 70px;
  padding: 0 0 0 25px;
  outline: none;
}
.form p {
  font-size: 40px;
  font-weight: 300;
}
.form textarea {
  width: 949px;
  height: 200px;
  resize: none;
  padding: 25px;
}

.titulo p {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.campos {
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 1550px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nombre {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 50px;
}
.nombre p {
  margin-bottom: 50px;
}
.inputs input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 700px;
}

.mail {
  width: 1000px;
  margin-top: 50px;
}
.mail p {
  margin-bottom: 50px;
}
.mail input {
  width: 970px;
}
.proposito {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.proposito p {
  margin-bottom: 50px;
}
.proposito select {
  height: 75px;
  width: 500px;
  outline: none;
}
.mensaje {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 50px;
}

.mensaje p {
  margin-bottom: 50px;
}
